#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_wacoins
#build/wacoinsd::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_wacoins)

DEB_INSTALL_EXAMPLES_wacoinsd += debian/examples/*
DEB_INSTALL_MANPAGES_wacoinsd += debian/manpages/*

%:
	dh $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix wacoinsd
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f wacoins-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake wacoins-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_wacoins
	src/test_wacoins

# Ensure wrapper is set executable
binary-post-install/wacoinsd:
	chmod +x $(cdbs_curdestdir)usr/bin/wacoinsd
binary-post-install/wacoins-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/wacoins-qt
